{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<section>
  <div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <p>Not started</p>


      {% for i in ns:%}
      {% if current_user.id == i.author_id: %}
      <div class="card" style="width: 18rem;">
      <div class="card-header">
        {{i.title}}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{i.start_date.date}} | {{i.end_date.date}}</li>
        <li class="list-group-item">Priority: {{i.priority}} | <small>tags {{i.tag}}</small></li>
        <li class="list-group-item">
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
          Move task
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Sign up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="d-flex" method="post" name="update-form" action="">
<!--                 <input class="form-control me-2" type="search" placeholder=" search cafe or location" aria-label="Search" name="search">-->
                      <select class="form-select" aria-label="Default select example">
                        <option value="0">Not started</option>
                        <option value="1">In progress</option>
                        <option value="2">Completed</option>
                      </select>
                    <button class="btn btn-outline-dark" value="submit_update" type="submit" name="submit_btn">Update</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>

        </li>
      </ul>
    </div>
      {%endif%}
      {%endfor%}
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
          <i class="fa-solid fa-circle-plus"></i>
      </button>
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New task</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {{ wtf.quick_form(task_form, novalidate=True, button_map={"submit": "primary"}) }}

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <p>In progress</p>
      {% for i in in_progress:%}
      {% if current_user.id == i.author_id: %}
      <div class="card" style="width: 18rem;">
      <div class="card-header">
        {{i.title}}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{i.start_date.date}} | {{i.end_date.date}}</li>
        <li class="list-group-item">Priority: {{i.priority}} | <small>tags {{i.tag}}</small></li>
        <li class="list-group-item">Move</li>
      </ul>
    </div>
      {%endif%}
      {%endfor%}
    </div>

    <div class="col-lg-4 col-sm-12">
      <p>Completed</p>
      {% for i in completed:%}
      {% if current_user.id == i.author_id: %}
      <div class="card" style="width: 18rem;">
      <div class="card-header">
        {{i.title}}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{i.start_date.date}} | {{i.end_date.date}}</li>
        <li class="list-group-item">Priority: {{i.priority}} | <small>tags {{i.tag}}</small></li>
        <li class="list-group-item">Move</li>
      </ul>
    </div>
      {%endif%}
      {%endfor%}
    </div>
  </div>
</div>

</section>

 {% include "footer.html" %}
